.App{
  align-items: center;
  align-content:center;
  text-align: center;
  width:100%;
  
}
body{
  background-color:black;
}

.hbg{
  background-color: #c32148;
  color:white;
  text-align:center;
  padding:10px;
}
.aaa{
  align-items: center;
  background-color: #c32148;
  color:white;
  font-size:180%;
  
}
